.inputContainer {
  width: 100%;

  input[type="text"] {
    -webkit-appearance: none;
    width: 540px;
    height: 54px;
    background: #f5f8fa;
    border-radius: 2px;
    border: none;
    font-size: 1.2rem;
  }
}
