.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .inputTitle {
    position: absolute;
    font-size: 0.8rem;
    margin: 5px 0 0 12px;

  }

  input[type="text"] {
    -webkit-appearance: none;
    width: 540px;
    height: 54px;
    background: #f5f8fa;
    border-radius: 2px;
    border: none;
    font-size: 1rem;
    padding-left: 10px;

    &:focus {
      outline: none;
      border-bottom: 2px solid gray;
    }
  }
}
